* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 3rem;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.embeddedVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.lyrics-text {
    font-size: 1.3125rem;
    text-align: left;
}

.card-header h3 {
    margin: 1.5rem 0 1.5rem 2.5rem;
}

h4 {
    font-weight: 400;
    font-size: 1.1rem;
}

textarea.form-control.bodyfield {
    width: 100%;
    height: 100vh;
}

textarea.form-control.bodyfield2 {
    width: 100%;
    height: auto;
}
