footer {
    &.footer_container {
        background-color: #b80028;
        color: #eeeeee;
        text-align: center;
        height: 13rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
