.lyrics {
    display: none;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-size: 1.25rem;

    .lyrics__hover:not(:hover) + .lyrics__display {
        display: none;
    }

    h3 + h4 {
        margin-top: 1rem;
    }

    > div {
        margin-top: 1rem;
        margin-bottom: 3.75rem;
    }
}
