nav {
    background-color: #b80028;
    width: 100%;

    > div {
        display: flex;
        justify-content: space-between;

        a {
            color: #ffffff;
            font-size: 2.125rem;
            padding: 0.875rem 2rem;
            text-decoration: none;

            &.icon {
                background: #333333;
            }

            &:hover {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }

    > ul {
        background-color: #333333;
        display: flex;
        // display: none;
        position: relative;

        > li {
            a {
                display: inline-block;
                color: #ffffff;
                font-size: 1rem;
                padding: 0.875rem 1rem;
                text-align: center;
                text-decoration: none;

                &:hover {
                    background-color: #b80028;
                    color: #ffffff;
                    text-decoration: none;
                }
            }

            ul {
                background-color: #b80028;
                // display: grid;
                display: none;
                grid-template-columns: repeat(7, 1fr);
                left: 0;
                position: absolute;
                right: 0;
                top: 100%;

                li {
                    text-align: center;

                    a:hover {
                        color: #ffffff;
                        background-color: #333333;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
