* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 3rem;
}

ul {
    list-style: none;
    padding: 0;
}
