@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 0.625rem;
  top: 1.125rem;
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.title {
  font-size: 5.25rem;
}

.links > a {
  color: #636b6f;
  padding: 0 1.5625rem;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 1.875rem;
}

main {
  width: 100%;
}

.topBanner {
  margin-bottom: 3.75rem;
  width: 100%;
  overflow: hidden;
}

.topBanner img {
  width: 100%;
}

